*{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    box-sizing: border-box;

}
body{
    position: relative;
    
    min-height: 100vh;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(255 255 255 / 76%);
    border-radius: 10px;
    width: 50%;
    max-height: 100vh;
    z-index: 6;
    opacity: 0;
    transition: all 0.4s;
    
}
.popup img{
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}
.popup a{
    color:#000 ;
    float: right;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    
}
.imgage_grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.image{
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;

}

.backdrop{
    background: rgba(110, 107, 110, 0.685);
    position: absolute;
    left: 0;
    top: 0;
    width:100% ;
    height: 100%;
    display: none;
    z-index: 0;
}
.active{
    display: block;
}
.activePopup{
   top: 50%;
   opacity: 1;
   transform: translate(-50%, -50%) scale(1);
   
}
